html, body, .app, #main-content, #osb-map-page-wrapper {
  box-sizing: border-box;
}

.app {
  //overflow: auto;
  height: 100%;
  width: 100%;
  position: fixed;
  background: url('../image/osb-background.png') no-repeat center center;
  background-size: cover;
  font-family: $font-stack;
  font-size: 1em;
}

#osb-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 100;
  background-color: #4d4c4c;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  color: #FFFFFF;
  //text-align: center;
}

#osb-top-bar p {
  margin: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 19px;
  font-weight: bold;
  color: #fffff;
  text-transform: uppercase;
}

#osb-top-bar-left {
  height: 100%;
  width: 20%;
  min-width: 20%;
  display: inline;
  float: left;
}

#osb-top-bar-center {
  display: inline;
  float: left;
  width: 60%;
  text-align: center;

  /* stop the word "Bristol" overflowing onto the map etc */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#osb-top-bar-right {
  width: 25%;
}

#osb-main-page-wrapper {
  text-align: center;
  padding-top: 100px;
}

.osb-box {
  background-color: #f07c07;
  display: inline-block;
  margin: 30px;
  padding: 20px;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  color: white;
  @include rotate(-20deg);
  width: 120px;
  text-align: center;
  cursor: pointer;
}

#osb-map-page-wrapper {
  padding-top: 60px;
}

#osb-map-wrapper {
  //  margin-top: 80px;
}

#osb-place-details {
  margin: 30px;
}

#osb-map, #osb-map-filter {
  height: 95%;
}

#main-content {
  position: static;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#osb-top-bar-left {
  p {
    margin-left: 15px;
    font-size: small;
    a:link {
      text-decoration: none;
      color: #ffffff;
    }

    a:visited {
      text-decoration: none;
      color: #ffffff;
    }

    a:hover {
      text-decoration: underline;
      color: #ffffff;
    }

    a:active {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

#osb-about-page-wrapper, #osb-settings-page-wrapper {
  margin: 80px 30px 0 30px;
  padding: 30px;
  border: solid 2px rgb(76, 76, 76);
  @include rounded(1em);
  background: #ffffff;
  text-align: justify;

}

#osb-about-page-wrapper {
  line-height: 1.5em;
}

.osb-option-preference {
  margin-bottom: 20px;
}

.osb-option-btn {
  float: right;
  font-size: 18px !important;
}

.osb-option-title {
  font-size: 18px !important;
  padding: 0;
  margin: 0;
}

.osb-option-desc {
  font-size: 14px !important;
  padding: 5px 0 0 0;
  margin: 0;
  font-style: italic;
}

#osb-reset-msg {
  font-size: smaller;
  font-style: italic;
}

#osb-place-details {
  text-align: left;
}

#osb-place-report {

  padding-top: 10px;
  button {
    float: right;
    font-size: 16px !important;
    background-color: #B94A48;
    color: #FFFFFF;
  }
}

.osb-tag-low {
  font-size: 1em;
}

.osb-tag-medium {
  font-size: 1.2em;
}

.osb-tag-high {
  font-size: 1.4em;
  font-weight: bold;
}

#osb-keyword-list {
  ul {
    li {
      padding: 8px;
    }
  }
}

.osb-selected-layer {
  border-bottom: none;
}

@media screen and (max-width: 380px) {
  #osb-top-bar-left {
    p {
      font-size: 11px;
    }
  }
  #osb-top-bar-center {
    p {
      font-size: 14px;
    }

  }
  #osb-map-page-right {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
  }
  #osb-map-filter {
    @include rounded(0em);
    border: solid 1px rgb(76, 76, 76);
    float: top;
    height: 100%;
  }
  #osb-map {
    height: 100%;
    @include rounded(0em);
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
  }

  #osb-map-page-left, #osb-map-page-right {
    padding: 0;
    margin: 0;
  }

  #osb-map-page-left {
    height: calc(100% - 60px);
  }

  //#osb-map-page-right {
  //  height: 80%;
  //}

  #osb-map-filter-content {
    margin: 0;
  }

  #osb-map-wrapper.filter-x {
    //height: calc(100% - 60px);

    #osb-keyword-list {
      //height: 80%;
    }

    #osb-map-page-left {
      visibility: visible;
    }

    .osb-filter-close {
      display: none;
    }
    .osb-filter-open {
      display: inline-block;
    }
  }

  #osb-map-wrapper.filter-y {
    //height: calc(100% - 60px);

    #osb-keyword-list {
      height: 15em;
    }

    #osb-map-page-left {
      visibility: hidden;
    }
    .osb-filter-close {
      display: inline-block;
    }
    .osb-filter-open {
      display: none;
    }
  }

  #osb-about-page-wrapper {
    margin: 70px 10px 0 10px;
    padding: 10px;
    line-height: 1.2em;
  }

  #osb-settings-page-wrapper {
    margin: 70px 10px 0 10px;
    padding: 10px;
  }

  #osb-place-details {
    margin: 5px;
  }

  .osb-place-keywords {
    display: none;
  }

  .osb-map .leaflet-popup-content-wrapper img {
    width: auto;
    height: auto;
    max-height: 140px;
    max-width: 260px !important;
    text-align: center;
  }

  #osb-place-description {
    padding: 10px;
  }
}

@media screen and (max-height: 570px) {
  #osb-map-wrapper.filter-y {
    #osb-keyword-list {
      height: 300px !important;
    }
  }
}

@media screen and (min-height: 571px) and (max-height: 750px) {
  #osb-map-wrapper.filter-y {
    #osb-keyword-list {
      height: 400px !important;
    }
  }
}

@media screen and (min-height: 751px) {
  #osb-map-wrapper.filter-y {
    #osb-keyword-list {
      height: 600px !important;
    }
  }
}