$primary-bg-colour: rgb(240, 240, 240);
$font-stack: 'Helvetica Neue', Helvetica, sans-serif;

$primary-font-color: #3e4042;
$header-bg-colour: #eeeeec;
$header-height: 120px;
$header-slug: #f46f19;
$sidebar-bg-colour: #f46f19;
$popup-bg-colour: #dabd18;

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: $primary-bg-colour;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rotate( $val: -90deg ) {
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -ms-transform: rotate($val);
  -o-transform: rotate($val);
  transform: rotate($val);
}

#osb-map-page-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: $font-stack;
  font-size: 1em;
  //clear: both;
  position: relative;
}

#osb-map-wrapper {
  height: 100%;
  overflow: hidden;
}

#osb-map-page-left, #osb-map-page-right {
  height: 100%;
  padding: 5px;
  display: block;
}

//#osb-map-page-right {
//  float: right;
//  width: 300px;
//  height: 100%;
//}

#osb-map-page-left {
  float: none;
  width: auto;
  overflow: hidden;
}

.osb-map-normal {
  width: 100%;
}

#osb-map-wrapper.filter-x {
  #osb-map-page-right {
    float: right;
    width: 300px;
    height: 100%;
  }
  #osb-map-filter-header {
  }
  #osb-map-filter-content {
    //display: block;
    height: 80%;
    overflow: hidden;
  }
  .osb-filter-close {
    display: inline-block;
  }
  .osb-filter-open {
    display: none;
  }
}

#osb-map-wrapper.filter-y {
  #osb-map-page-right {
    float: right;
    width: 60px;
    height: 100%;
  }
  #osb-map-filter-header {
    @include rotate(-90deg);
    position: absolute;
    transform-origin: 100% 100%;
    right: 15px;
    white-space: nowrap;
  }
  #osb-map-filter-content {
    display: none;
  }
  .osb-filter-disc-open {
    @include rotate(10deg);
    position: absolute;
    transform-origin: 100% 100%;
  }
  .osb-filter-close {
    display: none;
  }
  .osb-filter-open {
    display: inline-block;
  }
}

.osb-long-title {
  display: inline-block;
}




@media screen and (min-width: 381px) and (max-width: 800px) {
  #osb-map-wrapper.filter-x {
    #osb-map-page-right {
      float: right;
      width: 60px;
      height: 100%;
    }
    #osb-map-filter-header {
      @include rotate(-90deg);
      position: absolute;
      transform-origin: 100% 100%;
      right: 15px;
      white-space: nowrap;
    }
    #osb-map-filter-content {
      display: none;
    }
  }

  #osb-map-wrapper.filter-y {
    #osb-map-page-right {
      float: right;
      width: 300px;
      height: 100%;
    }
    #osb-map-filter-header {
      @include rotate(0deg);
      position: inherit;
      display: block;
    }
    #osb-map-filter-content {
      height: 80%;
      overflow: hidden;
      display: block;
    }
  }

  .osb-long-title {
    display: inline-block;
  }
}

@media screen and (max-width: 380px) {
  #osb-map-page-right {
    float: none;
    width: 98%;
    height: 60px;
  }
  #osb-map-wrapper.filter-x {
    #osb-map-page-right {
      float: inherit;
      width: 100%;
      height: 60px;
    }
    #osb-map-filter-header {
      text-align: center;
      font-size: 1em;
    }
    #osb-map-filter-content {
      display: none;
    }
  }
  #osb-map-wrapper.filter-y {
    #osb-map-page-right {
      float: inherit;
      width: 100%;
      height: 100%;
    }
    #osb-map-filter-header {
      text-align: center;
      font-size: 1em;
      @include rotate(0deg);
      position: inherit;
      display: block;
    }
    #osb-map-filter-content {
      display: block;
    }
  }
  .osb-long-title {
    display: none;
  }

}

@media screen and (max-width: 600px) {
  .osb-long-title {
    display: none;
  }
}

//.filter-max {
//
//}
//
//@media screen and (max-width: 320px) {
//  #osb-map-page-right {
//    float: none;
//    width: 100%;
//    height: 60px;
//  }
//}
//
//@media screen and (min-width: 321px) and (max-width: 800px) {
//  #osb-map-page-right {
//    float: right;
//    width: 60px;
//    height: 100%;
//  }
//  #osb-map-filter-header {
//    @include rotate(-90deg);
//    position: absolute;
//    transform-origin: 100% 100%;
//    right: 15px;
//    white-space: nowrap;
//  }
//  #osb-map-filter-content {
//    display: none;
//  }
//}

//@media screen and (min-width: 801px){
//
//  #osb-map-page-right {
//    width: 60px;
//    float: right;
//    height: 100%;
//  }
//  #osb-map-filter > #osb-map-filter-header {
//    @include rotate(-90deg);
//    position: absolute;
//    transform-origin: 100% 100%;
//    right: 15px;
//    white-space: nowrap;
//  }
//  #osb-map-filter-content {
//    display: none;
//  }
//}

//@media screen and (min-width: 801px){
//  #osb-map-page-right {
//    width: 300px;
//    float: right;
//    height: 100%;
//  }
//}

.osb-map-filter-max {
  width: 300px;
}

.osb-map-filter-min {
  width: 60px;
}

.osb-map-filter-min > #osb-map-filter > #osb-map-filter-header {
  @include rotate(-90deg);
  position: absolute;
  transform-origin: 100% 100%;
  right: 15px;
  white-space: nowrap;
}

#osb-map-header {
  font-size: 1.8em;
  color: rgb(239, 123, 5);
  height: 60px !important;
  line-height: 100px;
  font-weight: 400;
  margin-left: 10px;
}

#osb-map-header-subtitle {
  font-size: smaller;
  font-style: italic;
}

#osb-map {
  width: 100%;
  height: 70%;
  border: solid 2px rgb(76, 76, 76);
  @include rounded(1em);
  z-index: 10;
}

#osb-map-filter {
  background: rgb(239, 123, 5);
  width: 100%;
  height: 70%;
  border: solid 2px rgb(76, 76, 76);
  @include rounded(1em);
}

#osb-map-filter-header, #osb-map-filter-content {
  margin: 10px 20px 20px 20px;
  color: rgb(254, 243, 232);
}

#osb-map-filter-header {
  font-size: 1.4em;
  p:hover {
    color: #000000;
  }
}

#osb-map-filter-content > p, #osb-selected-keyword-list > p {
  color: #000000;
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: larger;
  font-weight: bold;
}

#osb-blog-link {
  border: solid 2px rgb(76, 76, 76);
  @include rounded(1em);
  background: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  margin-top: 20px;
  height: 80px;
  bottom: 0;
  position: relative;
}

.osb-popup-more {
  font-weight: bold;
  color: #ffffff;

  a:link {
    text-decoration: none;
    color: #ffffff;
  }

  a:visited {
    text-decoration: none;
    color: #ffffff;
  }

  a:hover {
    text-decoration: underline;
    color: #ffffff;
  }

  a:active {
    text-decoration: none;
    color: #ffffff;
  }

}

.leaflet-container img.osb-img {
  width: 80%;
}

.osb-map .leaflet-popup-content-wrapper {
  background: $popup-bg-colour;
  border-radius: 0;
  color: $primary-font-color;
  font-size: 16px;
  line-height: 24px;

  h4 {
    font-weight: bold;
    color: #ffffff;
    a:link {
      text-decoration: none;
      color: #ffffff;
    }

    a:visited {
      text-decoration: none;
      color: #ffffff;
    }

    a:hover {
      text-decoration: underline;
      color: #ffffff;
    }

    a:active {
      text-decoration: none;
      color: #ffffff;
    }
  }

  img {
    width: 80%;
    text-align: center;
  }

}

.osb-map .leaflet-popup-content p {
  margin: 0;
}

.osb-map .leaflet-popup-content-wrapper a {
  //color:rgba(255,255,255,0.5);
}

.osb-map .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.osb-map .leaflet-popup-tip {
  background: $popup-bg-colour;;
}

.osb-map a.leaflet-popup-close-button {
  color: #ffffff;
  font-size: 30px;
}

#osb-map-filter-header {
  cursor: pointer;
}

#osb-place-description {
  border: solid 2px rgb(76, 76, 76);
  @include rounded(1em);
  background: #ffffff;
  padding: 30px;

  span {
    text-align: right;
  }

  h3 {
    font-size: 1.5em;
    font-weight: bold;
  }

  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  p {
    margin: 10px 0 0 0;
  }
}

.osb-img-desc-wrapper {
  margin: 10px;
}

.osb-desc-wrapper {
  //margin: 10px;
}

.osb-desc-close-wrapper {
  float: right;
}

.osb-desc-close {
  font-weight: bold;
  //margin: 10px;
}

#osb-place-description-content {
  h3 {
    margin: 10px 0 10px 0;
  }
  strong {
    font-weight: bold;
  }
}

#osb-place-media {
  h4 {
    margin: 10px 0 10px 0;
    font-weight: bold;
  }
}

#osb-layer-list {
  text-align: center;
  font-size: 1.1em;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 5px 15px 5px 0;

      a:link {
        text-decoration: none;
        color: #ffffff;
      }

      a:visited {
        text-decoration: none;
        color: #ffffff;
      }

      a:hover {
        text-decoration: underline;
        color: #ffffff;
      }

      a:active {
        text-decoration: none;
        color: #ffffff;
      }

    }
  }

}

#osb-keyword-list {
  overflow-y: scroll;
  height: 60%;
  ul {
    li {
      display: inline-block;
      padding: 5px;
      a {
        text-decoration: none;
        border-bottom: 1px dotted;
      }

    }
  }
}

#osb-places-total, #osb-selected-keyword-list {
  margin: 10px 0 10px 0;
  text-align: center;
}

#osb-selected-keyword-list {
  text-align: center;
  ul {
    li {
      display: inline-block;
      span {
      }
      padding-right: 10px;
    }
  }
}

.osb-tag-a {
  font-size: 0.8em;
}

.osb-tag-b {
  font-size: 0.9em;
}

.osb-tag-c {
  font-size: 1.2em;
  font-weight: bold;
}

.osb-tag-d {
  font-size: 1.6em;
  font-weight: bold;
}

.spinner {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%; /* Rounds out the halo */
  opacity: .7; /* Some subtle opacity to help blend with variable background colors */
  display: inline-block;
}

.spinner.medium {
  height: 31px;
  width: 31px;
  background: url("../image/spiffygif_30x30.gif");
}

.spinner.medium_wbg {
  height: 31px;
  width: 31px;
  background: url("../image/spiffygif_30x30_wbg.gif");
}

#osb-place-details {
  margin: 10px;
}

.osb-place-details > .spinner {
  text-align: center;
}

.osb-place-details-img {
  text-align: center;
}

audio, video {
  max-width: 100%;
}

#osb-layer-list {
  text-align: center;
  font-size: 1.1em;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 5px 15px 5px 0;

      a:link {
        border-bottom: dotted 1px;
      }

      a:visited {
        border-bottom: dotted 1px;
      }

      a:hover {
        border-bottom: solid 1px;
        text-decoration: none;
      }

      a:active {
        border-bottom: dotted 1px;
      }

      a.osb-selected-layer:link {
        border-bottom: none;
      }

      a.osb-selected-layer:visited {
        border-bottom: none;
      }

      a.osb-selected-layer:hover {
        border-bottom: solid 1px;
      }

      a.osb-selected-layer:active {
        border-bottom: none;
      }

    }
  }

}

// suffusion fixes
#osb-map-filter-header > p {
  margin-bottom: 0;
}

#osb-layer-list > ul {
  margin: 0;
  padding: 0;
}

#osb-places-total > p {
  margin-bottom: 0;
  text-align: center;
}

#osb-keyword-list > ul {
  margin: 0;
  padding: 0;
}

#osb-selected-keyword-list > ul {
  margin: 0;
  padding: 0;
}

article.page {
  background: #f0f0f0 !important;
  border: 0 !important;
}

#osb-map-toggle.osb-map-min {
  background: url("../image/plus-square.png") center no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#osb-map-toggle.osb-map-max {
  background: url("../image/minus-square.png") center no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}


.osb-max-expand {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 200;
  height: 100% !important;
  overflow-y: scroll !important;
}

#osb-contribute-map {
  padding: 5px 0;
}

.osb-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #000000;
  background-color: $popup-bg-colour !important;
  padding: 5px;
  color: #000000 !important;
}

#osb-map-description {
  padding: 0 0 0 10px;
}

#osb-logo {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin-right: 20px;
    }
  }
}